<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="REST Assured API Test Suite" parallel="methods" thread-count="3" verbose="2">

    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
        <listener class-name="com.automation.listeners.RetryListener"/>
    </listeners>

    <test name="Authentication API Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.AuthAPITest"/>
        </classes>
    </test>

    <test name="User API Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.UserAPITest"/>
        </classes>
    </test>

    <test name="Product API Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.ProductAPITest"/>
        </classes>
    </test>

    <test name="Order API Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.OrderAPITest"/>
        </classes>
    </test>

</suite>
